<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body onload="renderMembersToSendNewHandouts()">
    <form onsubmit="handleChooseHandouts(event)">
        <h4>Do you wish to:</h4>
        <button id="existingHandout" type="submit">Choose existing handout</button>
        <button id="creatingHandout" type="submit">Create a new handout</button>
    </form>
    <form id="newHandoutForm" onsubmit="handleSendNewHandouts(event)">
        <label for="nameOfHandout">Enter Handout's name:</label>
        <input name="nameOfHandout" type="text">
        <label for="imgURL">Enter Handout's image URL:</label>
        <input name="imgURL" type="url">
        <label for="userList">Choose users to recive the handout:</label>
        <div name="userList" class="userList" id="userList"></div>
        <button type="submit">Send</button>
    </form>

    <div class="root" id="root"></div>
    <script src="../scripts/dist/app.js"></script>

</body>

</html>