<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Handouts</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../styles/dist/handouts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef6c5070b7.js" crossorigin="anonymous"></script>
</head>

<body onload="loadBodyDMHndouts()">
    <div class="session">
        <div class="session__header">
            <i class="fa-solid fa-book"></i><h1>DM Handouts</h1>
        </div>
        <div id="createAndSend" class="createAndSend box">
            <div class="header">
                <i class="fa-solid fa-pen"></i>
                <h3>Create And Send New</h3>
            </div>
            <form id="newHandoutForm" class="newHandoutForm" onsubmit="handleSendNewHandouts(event)">
                <div class="input_container">
                    <input name="nameOfHandout" type="text" placeholder="Handout name">
                </div>
                <div class="input_container">
                    <input name="imgURL" type="url" placeholder="image URL">
                </div>
                <label for="userList">Choose users to recieve the handout:</label>
                <div name="userList" class="userList" id="userList"></div>
                <button class="submit_btn" type="submit">Send</button>
            </form>
        </div>

        <div id="chooseAndSend" class="chooseAndSend box">
            <div class="header">
                <i class="fa-solid fa-share"></i>
                <h3>Choose And Send Exisiting</h3>
            </div>
            <form id="existingHandoutsForm" class="existingHandoutsForm" onsubmit="handleSendExistingHandouts(event)">
        
                <div id="existinhHandoutsRoot" class="existinhHandoutsRoot"></div>
                <label for="userListRoot">Choose users to recive the handout:</label>
                <div name="userListRoot" class="userList" id="userListRoot"></div>
                <button class="submit_btn" type="submit">Send</button>
            </form>
        </div>
        <div class="root" id="root"></div>
    </div>

<script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/dist/app.js"></script>
    <script src="../scripts/dist/helpers.js"></script>
</body>

</html>