<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeoun Master Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../styles/dist/mainPageDm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef6c5070b7.js" crossorigin="anonymous"></script>
</head>

<body onload="loadMainPageDM()">
    <div class="mapsDiv">
        <i class="fa-solid fa-xmark" id="closeDiv"></i>
        <div class="mapsDiv__Wrapper"></div>
    </div>

    <div class="session">
        <div class="session__headers">
            <h1 id="dmName">Hello USER</h1>
            <h2>You Are The Dm In This Room</h2>
        </div>

        <div class="session__contents">
            <div class="userInfoList">
                <div class="userInfoList__header">
                    <h3>Players Live Info:</h3>
                </div>
                <div class="userInfoList__users">
                    <ul class="userInfoList__users__list">
                        <li>No user Avilable</li>
                    </ul>
                </div>
            </div>
            <div class="worldMap grid_item"> 
                <i class="fa-solid fa-map"></i>
                <h4>World Map</h4>
                <form onsubmit="handleEditWorldMap(event)">
                    <input type="url" name="worldMapUpload" >
                    <button type="submit"> Upload a New Map</button>
                </form> 
            </div>

            <div class="currentMap grid_item">
                <i class="fa-solid fa-map-location"></i>
                <h4>Current Map</h4>
                <form onsubmit="handleEditCurrentMap(event)">
                    <input type='url' name='currentMapUpload' >
                    <button type="submit"> Upload a New Map</button>
                </form>
            </div>

            <a href="./handoutsDm.html">
                <div class="Handouts grid_item" id="buttonContainer">
                    <i class="fa-solid fa-book"></i>
                    <h4>Handouts</h4>
                </div>
            </a>
            <a href="./lootDm.html">
                <div class="Loot grid_item" id="">
                    <i class="fa-solid fa-briefcase"></i>
                    <h4>Loot</h4>
                </div>
            </a>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/dist/app.js"></script>
    <script src="../scripts/dist/maps.js"></script>

</body>

</html>