<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../styles/dist/room.css">
    <title>Room</title>
</head>

<body onload="loadRoom()">
    <div class="room_wrapper">
        <div class="room_header_container">
            <div class="room_header"></div>
        </div>
        <div class="room_wrapper__forms">
            <div class="formContainer">
                <form onsubmit="HandleCreateNewRoom(event)" id="NewRoomForm">
                    <h3>Create new room:</h3>
                    <div class="input_container">
                        <input placeholder="Name" name="inputRoom" id="roomName" type="text">
                    </div>
                    <div class="input_container">
                        <input placeholder="Password" name="inputRoompassword" id="roomPass" type="password">
                    </div>
                    <button class="submit_btn" type="submit">CREATE</button>
                </form>
            </div>
            <div class="formContainer">
                <form onsubmit="HandleEnterRoom(event)" id="RoomForm">
                    <h3>Log in to Existing Room:</h3>
                    <div class="input_container">
                        <input placeholder="Name" id="existingRoomName" name="existingRoomName" type="text">
                    </div>
                    <div class="input_container">
                        <input placeholder="Password" name="existingRoomPass" type="password">
                    </div>
                    <button class="submit_btn" type="submit">Enter</button>
                </form>
                <form class="yesRoomNoUser">
                    <h3>It Seems this room does not contain this user</h3>
                    <h3>do you wish to add this user to this room?</h3>
                    <div class="button_wrapper">
                        <button class="submit_btn" onclick="handleAddUserToRoom(event)">Yes</button>
                        <button class="submit_btn" onclick="handleDeleteThis(event)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="roomRoot"></div>
    <script src="../scripts/dist/background.js"></script>
    <script src="../scripts/dist/index.js"></script>
</body>

</html>